$primary-color: #f87634;
$secondary-color: #e91e63;
$tertiary-color: #9c27b0;

// Global Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// App Styles

.app {
  .link {
    text-decoration: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #9c27b0;
    padding-right: 100px;

    .logo {
      .logo-img {
        width: 120px;
      }
    }
  }

  // Nav Styles

  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;

    .nav-item {
      list-style: none;
      margin: 0 10px;
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem;

      &:hover {
        cursor: default;
      }
    }

    .write {
      background-color: $secondary-color;
      padding: 5px 10px;
      color: #fff;
      cursor: pointer;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &:hover {
        background-color: #fff;
        color: $secondary-color;
      }
    }

    .logout {
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      width: 100px;
      cursor: pointer;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #fff;
      border: 1px solid $tertiary-color;

      &:hover {
        opacity: 0.8;
      }
    }

    .nav-item:hover {
      color: $secondary-color;
    }
  }

  // Home Styles

  .home {
    padding: 20px;
    width: 100%;

    .posts {
      display: flex;
      flex-direction: column;
      gap: 150px;

      .post {
        display: flex;
        margin: 20px;
        gap: 100px;
        padding: 10px;

        .img {
          flex: 2;
          width: 200px;
        }

        .post-info {
          flex: 2;

          .link {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }

    // Button Styles

    button {
      margin-top: 20px;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: $secondary-color;
      }
    }
  }
}

// Footer Styles

.footer {
  margin-top: 150px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  color: #fff;
  font-weight: bold;
  background-color: $tertiary-color;

  .logo-img {
    width: 120px;
  }

  .message {
    font-size: 1.1rem;
  }
}
